<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/styles/trangchu")
    @Styles.Render("~/Content/styles/common")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("css", false)
</head>
<body>
    @Html.Partial("_Header")
    <content>
        @RenderBody()
    </content>
    @Html.Partial("_Footer")
    @RenderSection("script", false)
</body>
</html>